<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p [%t] %C(%L): %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- our own code -->
        <logger name="org.linkeddatafragments" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </logger>

        <!-- Anything else -->
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>